@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: 'Montserrat'
	font-weight: 500
	overflow-x: hidden
	margin: 0
.hidden
	display: none
.fl
	display: flex
	.row
		flex-direction: row
	.clm
		flex-direction: column
.block
	padding: 0 9vw
.img--full
	width: 100%
.nav-panel
	background-color: $accent
a,a:hover,a:active
	color: #fff
	text-decoration: none
	width: fit-content
	height: fit-content
.nav
	margin-right: 5.5vw
.link
	padding: 1vw
	font-size: 1.38vw
	line-height: 1.8vw
.btn
	padding: 1vw 3.5vw
	font-weight: 700
	font-size: 1.38vw
	line-height: 2vw
	&.btn--write
		background-color: $red
		text-transform: uppercase
.nav-panel,.nav-wrap
	justify-content: space-between
	align-items: center
.nav-panel
	padding-bottom: 1.38vw
	padding-top: 1.38vw
.logo-wrap
	width: 11.5vw